.navbar > .container {
  display: flex;
  justify-content: space-between;
}

.section.pricing,
.section.mentoring-style {
  margin-top: -4rem;
}

.hero-image {
  height: 40vh;
  overflow: hidden;
  margin-top: 52px;
}

.hero-image img {
  object-fit: contain
}

.mentoring-style .column {
  padding: 60px 35px;
}

.hero .scroll-down-icon {
  display: none;
}

.hero-body.home {
  padding: 1rem 1.5rem;
}