.hero-picture {
  /* background-image: url("/daniel-de-la-cruz.webp");
  background-position: center 10%;
  background-size: 100% auto;
  background-repeat: no-repeat; */
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
}

.blog {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
  margin-top: -4rem;
  position: relative;
  padding-bottom: 0;
  background: white;
  border-radius: 5px;
  padding: 40px 80px 60px 80px;
  margin-bottom: 1.55rem;
}

section.pricing {
  margin-top: -8rem;
}

.box {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.box:hover {
  box-shadow: 0 1rem 2rem 0 rgba(10, 10, 10, 0.1);
  transform: translateY(-0.25rem);
}

.price {
  font-weight: 800;
}

.is-spaced {
  margin-bottom: 1.5rem !important;
}

.footer-icon {
  color: #959da5;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
