.hero-picture {
  /* background-image: url("/daniel-de-la-cruz.webp");
  background-position: center 10%;
  background-size: 100% auto;
  background-repeat: no-repeat; */
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
}

.blog {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
  margin-top: -200px;
  position: relative;
  padding-bottom: 0;
  background: white;
  border-radius: 5px;
  padding: 40px 80px 60px 80px;
  margin-bottom: 1.55rem;
}

span.shadow {
  box-shadow: inset 0 -6px 0 rgba(35, 209, 153, 0.2);
}

section.pricing {
  margin-top: -8rem;
}
