:root {
  --primary-color: #00d1b2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(54, 54, 54);
}

a,
a:visited,
a:active a:focus,
a:focus-within {
  color: var(--primary-color);
  text-decoration: none;
  transition: color ease-in 0.2s;
}

a:hover {
  color: #00c4a7;
}

.has-text-centered {
  text-align: center !important;
}

.title {
  color: #293347;
  font-weight: 800;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.125;
}
.title,
.subtitle {
  word-break: break-word;
}

.section.is-primary .subtitle {
  color: #fff;
}

.subtitle {
  font-weight: 300;
  line-height: 1.5;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
}

.container {
  margin: 0 auto;
  position: relative;
}

.hero {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
}

.hero-title {
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 200px;
}

.hero-title p {
  margin: 0;
}

.hero-title h1 {
  margin: 5px 0;
  font-size: 3em;
}

.hero-title h3 {
  margin: 5px 0 50px;
  font-weight: 200;
}

.hero-picture {
  /* background-image: url("/daniel-de-la-cruz.webp");
  background-position: center 10%;
  background-size: 100% auto;
  background-repeat: no-repeat; */
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
}

.button {
  -webkit-appearance: none;
  align-items: center;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid transparent;
  box-shadow: none;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: center;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  position: relative;
  text-align: center;
  transition: background-color ease-in 0.2s;
  vertical-align: top;
  white-space: nowrap;
}

.button.is-primary {
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #00c4a7;
}

.button.is-large {
  font-size: 1.5rem;
}

.button:focus {
  outline: none;
}

.navbar {
  display: flex;
  align-items: stretch;
  border-top: 6px solid #00d1b2;
  border-bottom: 1px solid #e8e8e8;
  min-height: 4.25rem !important;
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar .logo {
  margin-left: -5px;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-item {
  cursor: pointer;
  color: #4a4a4a;
  align-items: center;
  display: flex;
  line-height: 1.5;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

a.navbar-item {
  color: #4a4a4a;
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar .navbar-menu a.button.is-primary.is-outlined {
  border-width: 2px;
  font-weight: 400;
  font-size: 18px;
  padding: 1.2rem;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button.is-outlined {
  border-width: 2px;
}

.blog {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
  margin-top: -200px;
  position: relative;
  padding-bottom: 0;
  background: white;
  border-radius: 5px;
  padding: 40px 80px 60px 80px;
  margin-bottom: 1.55rem;
}

.footer {
  text-align: center;
}

span.shadow {
  box-shadow: inset 0 -6px 0 rgba(35, 209, 153, 0.2);
}

section {
  padding: 5rem 1.5rem;
}

section.is-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.section.is-primary .title,
.section.is-primary .subtitle {
  color: #fff;
}

.section.is-long {
  padding-bottom: 14rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns.is-centered {
  justify-content: center;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
