.hero-picture {
  /* background-size: cover; */
  height: auto;
  max-width: 1000px;
}

.hero-picture img {
  object-fit: cover;
  width: 100%;
}

.section.pricing .box {
  padding: 60px 35px;
}

.pricing-grid {
  margin-bottom: 6rem;
}

.container {
  max-width: 1200px;
  width: 1200px;
}
