/* Calendly widget fix */
html {
  height: auto !important; /* reset default to allow scroll navigation */
  scroll-behavior: smooth;
}

html.calendly-page-scroll-locked {
  height: 100% !important; /* set height when popup is active */
}

.hero-picture {
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
}

.container.is-narrow {
  max-width: 1024px;
}

.blog {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
  margin-top: -4rem;
  position: relative;
  padding-bottom: 0;
  background: white;
  border-radius: 5px;
  padding: 40px 80px 60px 80px;
  margin-bottom: 1.55rem;
}

.blogFrontImage {
  width: 100vw;
}

.box.blog-post {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.box.blog-post .date {
  margin-top: auto !important;
}

.box,
.card {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.box:hover,
.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(10, 10, 10, 0.1);
  transform: translateY(-0.25rem);
}

.timeline-content .box {
  max-width: 400px;
  padding: 0;
}

.timeline-content .experience-box {
  max-width: 400px;
  padding: 1.25rem;
  text-align: left;
}

.responsibilities-list {
  list-style-type: square;
  padding: 1em 0 0 1.5em;
}

.price {
  font-weight: 800;
}

.is-spaced {
  margin-bottom: 1.5rem !important;
}

.footer-icon {
  color: #959da5;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.hero-image img {
  display: block;
  object-fit: cover;
  object-position: top;
  width: 100vw;
  height: 100vh;
}

.hero .scroll-down-icon {
  margin: auto;
  position: relative;
  bottom: 5rem;
  animation: floating 2.5s infinite;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar > .container {
  display: flex;
}

.pricing-grid {
  margin-bottom: 6em;
}

.pricing-grid > .columns {
  align-items: flex-start;
}

.benefits-grid {
  padding-top: 4rem;
}

.benefits-grid .icon {
  height: auto;
  margin: 0px auto 1.5em;
}

.tags {
  padding-left: 1em;
}

.image-box img {
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.section.mentorship-style .box {
  padding: 0;
}

.section.mentorship-style .columns {
  margin: 0;
}

.section.mentorship-style .column {
  margin: 0;
  padding: 60px;
  border-right: 1px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
}

.skills-intro {
  background-image: url(/images/background.jpeg);
  background-size: cover;
  background-position: center;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
