.hero-picture {
  /* background-image: url("/daniel-de-la-cruz.webp");
  background-position: center 10%;
  background-size: 100% auto;
  background-repeat: no-repeat; */
  height: calc(100vh - 3.25rem);
  width: 100%;
  max-width: 50%;
}

.container.is-narrow {
  max-width: 1024px;
}

.blog {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 40px;
  margin-top: -4rem;
  position: relative;
  padding-bottom: 0;
  background: white;
  border-radius: 5px;
  padding: 40px 80px 60px 80px;
  margin-bottom: 1.55rem;
}

.blogFrontImage {
  width: 100vw;
}

.box,
.card {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.box:hover,
.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(10, 10, 10, 0.1);
  transform: translateY(-0.25rem);
}

.timeline-content .box {
  max-width: 400px;
}

.price {
  font-weight: 800;
}

.is-spaced {
  margin-bottom: 1.5rem !important;
}

.footer-icon {
  color: #959da5;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}

.hero-image img {
  display: block;
  object-fit: cover;
  object-position: top;
  width: 100vw;
  height: 100vh;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar > .container {
  display: flex;
}

.pricing-grid > .columns {
  align-items: flex-start;
}

.tags {
  padding-left: 1em;
}