.navbar > .container {
  display: flex;
  justify-content: space-between;
}

.section.pricing {
  margin-top: -4rem;
}

.hero-image {
  height: 50vh;
  overflow: hidden;
}

.hero-image img {
  object-fit: contain
}

.button.is-medium-mobile {
  font-size: 1rem;
}