.navbar > .container {
  display: flex;
  justify-content: space-between;
}

.section.pricing,
.section.mentoring-style {
  margin-top: -4rem;
}

.hero-image {
  height: 50vh;
  overflow: hidden;
}

.hero-image img {
  object-fit: contain
}

.mentoring-style .column {
  padding: 60px 35px;
}

.hero .scroll-down-icon {
  display: none;
}