.section.pricing .box {
  padding: 60px 35px;
}

.pricing-grid {
  margin-bottom: 6rem;
}

.hero-body .subtitle {
  width: 50%;
  padding-right: 1em;
}

.hero-image {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}