<!DOCTYPE html>
<html lang="es" class="has-navbar-fixed-top">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "navbar.html" . -}}
    <div id="content">
      <section id="blog" class="section has-background-white-ter">
        <div class="container has-text-centered">
          <h2 class="title">Artículos recientes</h2>
          {{ range (.Paginator 5).Pages }}
          {{ if not .Params.hide }}
          {{ partial "blog-item" . }}
          {{ end }}
          {{ end }}
          <!-- </div> -->
        </div>
      </section>
    </div>

    {{- partial "footer.html" . -}}
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script type="text/javascript" src="/js/analytics.js"></script>
  </body>
</html>
