<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div id="content">
      <section class="section is-medium has-text-centered has-background-light">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-fifths">
              <h1 class="title has-text-dark is-spaced is-size-3-desktop is-size-4-mobile">
                Being a developer is tough.
              </h1>
              <h2 class="subtitle is-size-5-desktop has-text-dark has-text-centered">
                It seems like every other day there's a new technology trend to learn, tools to master, and endless
                development-related Medium posts to read. Without someone to help you filter it all, it can be
                overwhelming and intimidating. I know because I've walked more than a few miles in those shoes. So
                whether you're new to the field or simply looking for some guidance and support, I can help.
              </h2>
            </div>
          </div>
        </div>
      </section>
      <section class="section has-text-centered pricing">
        <div class="container">
          <div class="pricing-grid">
            <div class="columns is-centered level">
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-danger is-spaced">
                    <i class="fas fa-3x fa-home"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Spot Mentoring</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">150€</h2>
                  <p class="is-spaced">
                    1 hour of candid conversation and advice as needed with no long term commitment required.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">Good for:</p>
                  <ul>
                    <li>Students and professionals</li>
                  </ul>
                </div>
              </div>
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-info is-spaced">
                    <i class="fas fa-3x fa-graduation-cap"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Production Support</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">500€</h2>
                  <p class="is-spaced">
                    4 hours of targeted feedback and coaching to help you focus on delivering your best work.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">Great for:</p>
                  <ul>
                    <li>Freelancers and solo designers</li>
                  </ul>
                </div>
              </div>
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-success is-spaced">
                    <i class="fas fa-3x fa-chalkboard-teacher"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Tailored Learning</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">1.200€</h2>
                  <p class="is-spaced">
                    12 hours of professional coaching and collaboration to help you achieve long term goals and
                    ambitions.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">Best for:</p>
                  <ul>
                    <li>Keeners and career switchers</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <div class="columns is-centered">
              <div class="column">
                <h1 class="title is-spaced">Ready to level up your design game?</h1>
                <h2 class="subtitle is-size-5-desktop">
                  Schedule a free consultation to ask questions, discuss details, and decide if I'm your guy.
                </h2>
                <a class="button is-primary is-outlined is-rounded is-medium" href="/mentorship-inquiry"
                  >Let's talk shop</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{- partial "footer.html" . -}}
  </body>
</html>
