<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div id="content">
      <section class="section is-medium has-text-centered has-background-light">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-three-fifths">
              <h1 class="title has-text-dark is-spaced is-size-3-desktop is-size-4-mobile">
                Trabajar desarrollando software es duro.
              </h1>
              <h2 class="subtitle is-size-5-desktop has-text-dark has-text-centered">
                Parece que cada día hay una nueva tendencia tecnológica que aprender, herramientas que dominar y un
                sinfín de artículos en blogs relacionados con el desarrollo de software. Sin alguien que te ayude a
                filtrar toda esa información, puede llegar a abrumarte e intimidarte. Lo sé porque he recorrido unos
                cuantos kilómetros en tus zapatos. Tanto si acabas de empezar en la profesión como si buscas a alguien
                que te guíe y te apoye, yo podría ayudarte.
              </h2>
            </div>
          </div>
        </div>
      </section>
      <section class="section has-text-centered pricing">
        <div class="container">
          <div class="pricing-grid is-spaced">
            <div class="columns is-centered level">
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-danger is-spaced">
                    <i class="fas fa-3x fa-home"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Mentoring puntual</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">150€</h2>
                  <p class="is-spaced">
                    1 hora de una conversación sincera y honesta, así como consejos sin necesidad de un compromiso a
                    largo plazo.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">Bueno para:</p>
                  <ul>
                    <li>
                      Estudiantes y profesionales que busquen asesoría profesional.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-info is-spaced">
                    <i class="fas fa-3x fa-graduation-cap"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Coaching profesional</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">500€</h2>
                  <p class="is-spaced">
                    4 horas de feedback y coaching enfocado a ayudarte a conseguir un objetivo concreto.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">
                    Es lo que buscas si quieres:
                  </p>
                  <ul>
                    <li>Lograr una meta específica a corto plazo y necesitas un tutor.</li>
                  </ul>
                </div>
              </div>
              <div class="column level-item">
                <div class="box">
                  <span class="icon is-large has-text-success is-spaced">
                    <i class="fas fa-3x fa-chalkboard-teacher"></i>
                  </span>
                  <h1 class="title is-size-4 is-spaced">Aprendizaje a medida</h1>
                  <h2 class="title price is-size-3 has-text-primary is-spaced">1.200€</h2>
                  <p class="is-spaced">
                    12 horas de tutoría personalizada y sesiones de colaboración para ayudarte a definir objetivos a
                    largo plazo.
                  </p>
                  <p class="list-title has-text-primary has-text-weight-normal is-spaced">Es para ti si deseas:</p>
                  <ul>
                    <li>
                      Cambiar de carrera o promocionar en tu especialidad actual.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <div class="columns is-centered">
              <div class="column">
                <h1 class="title is-spaced">¿Te interesa subir de nivel? 🕹️</h1>
                <h2 class="subtitle is-size-5-desktop">
                  Agenda una consultoría gratuita para hacerme preguntas, discutir detalles y decidir si soy la persona
                  que estás buscando.
                </h2>
                <a class="button is-primary is-medium" href="/mentorship-inquiry">Hablemos</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{- partial "footer.html" . -}}
  </body>
</html>
