<section class="section is-medium has-text-centered is-long">
  <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">
    Mi experiencia
  </h1>
  <h3 class="is-spaced">
    He estado trabajando en la industria de software durante más de una década.
    Echa un vistazo a mi experiencia.
  </h3>
  <div class="timeline is-centered">
    <header class="timeline-header">
      <span class="tag is-medium is-primary">Inicio</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        
            <p class="heading">De 2006 a 2009</p>
            <p>Consultor .NET especializado en C# y ASP.NET con Razor</p>
        
      </div>
    </div>

    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        
            <p class="heading">De 2013 a 2016</p>
            <p>Programador .NET en Anuntis</p>
      </div>
    </div>

    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        <p class="heading">De 2013 a 2016</p>
        <p>Tech Lead en Schibsted Spain</p>
      </div>
    </div>

    <header class="timeline-header">
      <span class="tag is-primary">2016</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        <p class="heading">Abril 2016</p>
        <p>Senior Front-End Engineer en Typeform</p>
      </div>
    </div>

    <header class="timeline-header">
      <span class="tag is-primary">2017</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        <p class="heading">Noviembre 2017</p>
        <p>Senior Front-End Developer en Workshare</p>
      </div>
    </div>

    <header class="timeline-header">
      <span class="tag is-primary">2018</span>
    </header>
    <div class="timeline-item is-primary">
      <div class="timeline-marker is-primary"></div>
      <div class="timeline-content">
        <p class="heading">Marzo 2018</p>
        <p>Senior JavaScript Engineer en King</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-medium is-primary">End</span>
    </header>
  </div>
</section>
