<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-dark" href="/">
        <img src="/danidev.svg" alt="Daniel de la Cruz" width="30" class="logo" />
        <b>danidev</b>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/mentorship">
            <strong>Mentorship</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
