<section class="section is-medium is-primary has-text-centered is-long">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Dani. Nice to meet you.</h1>
        <h2 class="subtitle is-size-5-desktop">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aperiam doloribus vitae aliquid
          distinctio quam mollitia repellendus vel, at officiis facilis quia veritatis, neque sapiente ex obcaecati sed,
          voluptatibus error.
        </h2>
      </div>
    </div>
  </div>
</section>
