<section
  class="section is-medium has-background-grey-dark has-text-centered is-long"
>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1
          class="title is-spaced is-size-3-desktop is-size-4-mobile has-text-light"
        >
          Hola! Soy Daniel de la Cruz.
        </h1>
        <h2 class="subtitle is-size-5-desktop has-text-light">
          Llevo desde el 2006 desarrollando software, y creo que es una
          profesión apasionante.
        </h2>
      </div>
    </div>
  </div>
</section>
