<section
  class="section is-medium has-background-grey-dark has-text-centered is-long"
>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <span class="icon is-large has-text-primary is-spaced">
          <i class="fas fa-3x fa-chalkboard-teacher"></i>
        </span>
        <h1
          class="title is-spaced is-size-3-desktop is-size-4-mobile has-text-light"
        >
          Si buscas un tutor, ¡hablemos!
        </h1>
        <h2 class="subtitle is-size-5-desktop has-text-light">
          Llevo desde el 2006 desarrollando software, y creo que es una
          profesión apasionante. Pero a lo largo de mi carrera he vivido
          momentos en los que me hubiese gustado disponer de un tutor al que
          pedir consejo. Cuando he buscado una promoción, he cambiado de trabajo
          o he decidido cambiar de especialidad. Y por supuesto, cuando
          comenzaba en esto del desarrollo de software y buscaba mi primer
          trabajo como programador.
        </h2>
      </div>
    </div>
  </div>
</section>
