<section class="section has-text-centered">
  <div class="container is-narrow">
    <div class="content">
      <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <article class="tile is-child notification is-primary">
            <p class="title">Mis habilidades</p>
            <p class="subtitle">Las cosas que se me dan mejor</p>
          </article>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <nav class="panel">
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-code" aria-hidden="true"></i>
                </span>
                Front end development - HTML / CSS / JS / Typescript / ReactJS
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-server" aria-hidden="true"></i>
                </span>
                Back end development - C# / .NET / REST / GraphQL / NodeJS / SQL / MongoDB
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-undo-alt" aria-hidden="true"></i>
                </span>
                Agile mindset, tools and frameworks - XP / TDD / Scrum / Kanban / Lean / CI / CD
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-magic" aria-hidden="true"></i>
                </span>
                Testing Automation - Mocha / Jest / Puppeteer
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-comments" aria-hidden="true"></i>
                </span>
                Behavioural skills - Feedback / Emotional Intelligence / Public Speaking / Coaching
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
