<section class="section has-background-light">
  <div class="container is-narrow">
    <h1 id="contact" class="title is-spaced has-text-centered">Contactar</h1>
    <form id="form" accept-charset="UTF-8" action="https://www.usebasin.com/f/2e7223846893" method="POST">
      <div class="field">

        <label for="name" class="label is-medium">De</label>

        <div class="control">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input id="name" name="name" class="input is-medium" type="text" placeholder="Nombre" required />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input id="email" class="input is-medium" type="email" name="email" placeholder="Email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="field">

        <label for="subject" class="label is-medium">Asunto</label>

        <div class="control">
              <input id="subject" name="subject" class="input is-medium" type="text"
                placeholder="ej. Mentoring puntual" />
        </div>
      </div>

      <div class="field">

        <label for="body" class="label is-medium">Mensaje</label>

        <div class="control">
              <textarea id="body" name="body" class="textarea is-medium"
                placeholder="Explícame cómo puedo empezar a ayudarte"></textarea>
            
        </div>
      </div>

      <div class="field">
        <button id="submit" type="submit" class="button is-primary is-medium" data-tracking="contact-cta">
          Enviar mensaje
        </button>

      </div>
    </form>
  </div>
</section>