<section class="section has-text-centered has-background-white-bis">
  <div class="container is-narrow">
    <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">
      Mi experiencia
    </h1>
    <h3 class="is-spaced">
      He estado trabajando en la industria de software durante más de una
      década. Echa un vistazo a mi experiencia.
    </h3>
    <div class="timeline is-centered">
      <header class="timeline-header">
        <span class="tag is-medium is-info">Inicio</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">De 2006 a 2009</p>
            <p><strong>Consultor especializado en .NET Framework</strong></p>
            <!-- <p>
            Trabajé en consultorías como
            <a
              href="https://www.everis.com/spain/es/home-1"
              rel="noopener nofollow"
              title="everis"
              >everis</a
            >
            o
            <a title="ATOS" href="https://atos.net/es/spain" rel="noopener nofollow"
              >ATOS</a
            >, aprendiendo de grandes profesionales los fundamentos de
            programación que luego me servirían durante el resto de mi carrera
            profesional.
          </p> -->
          </div>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-info">2010</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">De 2010 a 2013</p>
            <p><strong>Programador .NET en Anuntis</strong></p>
          </div>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-info">2013</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">De 2013 a 2016</p>
            <p><strong>Tech Lead en Schibsted Spain</strong></p>
          </div>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-info">2016</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">Abril 2016</p>
            <p><strong>Senior Front-End Engineer en Typeform</strong></p>
          </div>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-info">2017</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">Noviembre 2017</p>
            <p><strong>Senior Front-End Developer en Workshare</strong></p>
          </div>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-info">2018</span>
      </header>
      <div class="timeline-item is-info">
        <div class="timeline-marker is-info"></div>
        <div class="timeline-content">
          <div class="box">
            <p class="heading">Marzo 2018</p>
            <p><strong>Senior JavaScript Engineer en King</strong></p>
          </div>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-medium is-info">End</span>
      </header>
    </div>
  </div>
</section>
