<section class="hero is-light is-fullheight-with-navbar">
  <div class="hero-image">
    <img
      sizes="(max-width: 1400px) 100vw, 1400px"
      srcset="
        daniel-de-la-cruz_e68nib_c_scale_w_200.jpeg   200w,
        daniel-de-la-cruz_e68nib_c_scale_w_613.jpeg   613w,
        daniel-de-la-cruz_e68nib_c_scale_w_946.jpeg   946w,
        daniel-de-la-cruz_e68nib_c_scale_w_1213.jpeg 1213w,
        daniel-de-la-cruz_e68nib_c_scale_w_1400.jpeg 1400w
      "
      src="daniel-de-la-cruz_e68nib_c_scale_w_1400.jpeg"
      alt="Daniel de la Cruz"
    />
  </div>
  <div class="hero-body">
    <div class="container">
      <p class="subtitle is-size-3 is-size-4-mobile">¡Hola! 👋</p>
      <h1 class="title is-size-1 is-size-3-mobile">
        Soy Dani.
      </h1>
      <h2 class="subtitle is-size-3 is-size-4-mobile">
        Me encanta programar en JavaScript y puedo ser tu mentor
      </h2>
    </div>
  </div>
  
</section>
