<section
  class="section is-medium  has-text-centered is-long intro-mentoring"
>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <span class="icon is-large has-text-primary is-spaced">
          <i class="fas fa-3x fa-chalkboard-teacher"></i>
        </span>
        <h1
          class="title is-spaced is-size-3-desktop is-size-4-mobile"
        >
          ¿Quieres dar un salto en tu carrera desarrollando software?
        </h1>
        <h2 class="subtitle is-size-5-desktop">
          Llevo desde el 2006 en la industria y he pasado por varias fases en mi
          carrera. He buscado trabajo y me han rechazado. He pedido una
          promoción y no la he conseguido. He logrado ese ascenso y he
          fracasado. Pero he <strong class="has-text-primary">aprendido</strong> de todas y cada una de esas experiencias
          y también he conseguido tener éxito a partir de cultivar una
          mentalidad de crecimiento personal.
        </h2>
      </div>
    </div>
  </div>
</section>
