<div id="mentoring-benefits" class="section is-medium">
  <div class="columns is-centered">
    <div class="column is-three-fifths has-text-centered">
      <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">
        Beneficios de un plan de Mentoring
      </h1>
      <h2 class="subtitle is-size-5-desktop">
        He aprendido un par de cosas durante mi carrera como programador, y me
        comprometo a ayudarte a hacer el mejor uso de ese conocimiento
        compartiéndolo contigo.
      </h2>
    </div>
  </div>
  <div class="benefits-grid">
    <div class="container is-narrow">
      <div class="columns is-multiline has-text-centered">
        <div class="column is-12-mobile is-one-third-tablet is-one-fifth-desktop">
          <span class="icon has-text-primary">
            <i class="fas fa-3x fa-tools"></i>
          </span>
          <h1 class="title is-size-4 is-spaced">Técnicas</h1>
          <p>
            Dominarás técnicas y herramientas que te permitan entregar tu trabajo con calidad y eficiencia.
          </p>
        </div>
        <div class="column is-12-mobile is-one-third-tablet is-one-fifth-desktop">
          <span class="icon has-text-primary">
            <i class="fas fa-3x fa-book"></i>
          </span>
          <h1 class="title is-size-4 is-spaced">Aprendizaje</h1>
          <p>
            Entrarás en una dinámica de aprendizaje continuo, a tu ritmo y a tu medida.
          </p>
        </div>
        <div class="column is-12-mobile is-one-third-tablet is-one-fifth-desktop">
          <span class="icon has-text-primary">
            <i class="fas fa-3x fa-users"></i>
          </span>
          <h1 class="title is-size-4 is-spaced">Contactos</h1>
          <p>
            Te pondré contacto con referentes de la industria de los que
            aprender y en quienes poder reflejarte.
          </p>
        </div>
        <div class="column is-12-mobile is-one-third-tablet is-one-fifth-desktop">
          <span class="icon has-text-primary">
            <i class="fas fa-3x fa-door-open"></i>
          </span>
          <h1 class="title is-size-4 is-spaced">Oportunidades</h1>
          <p>
            Encontraremos las mejores oportunidades laborales para ti y te
            acompañaré durante todo el proceso.
          </p>
        </div>
        <div class="column is-12-mobile is-one-third-tablet is-one-fifth-desktop">
          <span class="icon has-text-primary">
            <i class="fas fa-3x fa-rocket"></i>
          </span>
          <h1 class="title is-size-4 is-spaced">Crecimiento</h1>
          <p>
            Definiremos un plan de carrera basado en el crecimiento personal que
            puedas medir para crear conciencia de tu progresión.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="has-text-centered">
    <a class="button is-large is-medium-mobile is-primary" alt="Mentoring a medida para programadores de Front-End"
      href="/#contact" data-tracking="benefits-cta">Hablemos</a>
  </div>
</div>