<section class="section is-large has-text-centered is-long mentoring-intro">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <span class="icon is-large has-text-primary is-spaced">
          <i class="fas fa-3x fa-chalkboard-teacher"></i>
        </span>
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile has-text-white">
          ¿Quieres dar un salto en tu carrera desarrollando software?
        </h1>
        <!-- <h2 class="subtitle is-size-5-desktop">
          Llevo desde el 2006 en la industria y he pasado por varias fases en mi
          carrera. He buscado trabajo y me han rechazado. He pedido una
          promoción y no la he conseguido. He logrado ese ascenso y he
          fracasado. Pero he <strong class="has-text-primary">aprendido</strong> de todas y cada una de esas experiencias
          y también he conseguido tener éxito a partir de cultivar una
          mentalidad de crecimiento personal.
        </h2> -->
      </div>
    </div>
  </div>
  <a style="position:absolute; left: 0; bottom: 0; background-color:black;color:white;opacity:0.4;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
    href="https://unsplash.com/@daniilvnoutchkov?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge"
    target="_blank" rel="noopener noreferrer"
    title="Download free do whatever you want high-resolution photos from Daniil Vnoutchkov"><span
      style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
        style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
        <title>unsplash-logo</title>
        <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
      </svg></span><span style="display:inline-block;padding:2px 3px">Daniil Vnoutchkov</span></a>
</section>