<section class="section is-medium has-text-centered has-background-primary">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <h1
          class="title has-text-white is-spaced is-size-3-desktop is-size-4-mobile"
        >
          Trabajar desarrollando software es duro.
        </h1>
        <h2 class="subtitle is-size-5-desktop has-text-white has-text-centered">
          Parece que cada día hay una nueva tendencia tecnológica que aprender,
          herramientas que dominar y un sinfín de artículos en blogs
          relacionados con el desarrollo de software. Sin alguien que te ayude a
          filtrar toda esa información, puede llegar a abrumarte e intimidarte.
          Lo sé porque he recorrido unos cuantos kilómetros en tus zapatos.
          Tanto si acabas de empezar en la profesión como si buscas a un tutor
          que te guíe y te apoye, yo puedo ayudarte.
        </h2>
      </div>
    </div>
  </div>
</section>
