<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-dark" href="/">
        <img
          src="/danidev.svg"
          alt="Daniel de la Cruz"
          width="30"
          class="logo"
        />
        <b>Daniel de la Cruz</b>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button is-primary is-outlined"
            title="Mentoring a medida para programadores de Front-End"
            href="/mentorship"
            data-tracking="navbar-cta"
          >
            Mentorship
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
