<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-dark" href="/">
        <img
          src="/danidev.svg"
          alt="Daniel de la Cruz"
          width="30"
          class="logo"
        />
        <b>dani de la cruz</b>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/#skills">
          Mis habilidades
        </a>
        <a class="navbar-item" href="/#experience">
          Mi experiencia
        </a>
        <a class="navbar-item" href="/#testimonials">
          Referencias
        </a>
        <a class="navbar-item" href="/mentoring">
          Mentoring
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button is-primary"
            title="Mentoring a medida para programadores de Front-End"
            href="/contactar"
            data-tracking="navbar-cta"
          >
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <span>Contactar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
