<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" alt="Daniel de la Cruz" class="logo">
      <img src="/danidev.svg" width="30" height="30" />
      <b>dani de la cruz</b>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navBar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navBar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/blog" data-tracking="navbar-blog">
        Blog
      </a>
      <a class="navbar-item" href="/#skills" data-tracking="navbar-skills">
        Mis habilidades
      </a>
      <a
        class="navbar-item"
        href="/#experience"
        data-tracking="navbar-experience"
      >
        Mi experiencia
      </a>
      <a
        class="navbar-item"
        href="/#testimonials"
        data-tracking="navbar-testimonials"
      >
        Referencias
      </a>
      <a class="navbar-item" href="/mentoring" data-tracking="navbar-mentoring">
        Mentoring
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            class="button is-primary"
            title="Mentoring a medida para programadores de Front-End"
            href="/contactar"
            data-tracking="navbar-cta"
          >
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <strong>Contactar</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
