<section class="section has-text-centered pricing">
  <div class="container">
    <div class="pricing-grid">
      <div class="columns is-centered">
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-home"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Mentoring puntual</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              40€
            </h2>
            <p class="is-spaced">
              1 hora de una conversación sincera para poder darte consejos sin
              necesidad de un compromiso a largo plazo.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Bueno para:
            </p>
            <ul>
              <li>
                Estudiantes y profesionales que busquen asesoría profesional.
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-graduation-cap"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Coaching profesional</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              120€
            </h2>
            <p class="is-spaced">
              4 horas de feedback y coaching enfocado a ayudarte a conseguir un
              objetivo concreto.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Es lo que buscas si quieres:
            </p>
            <ul>
              <li>
                Lograr una meta específica a corto plazo y necesitas un tutor.
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-chalkboard-teacher"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Aprendizaje a medida</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              300€
            </h2>
            <p class="is-spaced">
              12 horas de tutoría personalizada y sesiones de colaboración para
              ayudarte a definir objetivos a largo plazo.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Es para ti si deseas:
            </p>
            <ul>
              <li>
                Cambiar de carrera o promocionar en tu especialidad actual.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="callout">
      <div class="container is-narrow">
        <h1 class="title is-spaced">¿No tienes claro qué opción escoger?</h1>
        <h2 class="subtitle is-size-5-desktop">
          Agenda una <u><strong>consultoría gratuita</strong></u> para hacerme
          preguntas, discutir detalles y decidir si soy la persona que estás
          buscando.
        </h2>
        <a
          class="button is-primary is-medium"
          href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danidelacruz/1hour-free'});return false;"
          >
          Solicita una sesión gratuita
        </a>
      </div>
    </div>
  </div>
</section>
