<section class="section has-text-centered pricing">
  <div class="container">
    <div class="pricing-grid">
      <div class="columns is-centered">
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-home"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Mentoring puntual</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              40€
            </h2>
            <p class="is-spaced">
              1 hora de una conversación sincera para poder aconsejarte sin
              necesidad de un compromiso a largo plazo.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Algunas ideas para invertir nuestro tiempo:
            </p>
            <ul class="is-spaced">
              <li>Pair programming</li>
              <li>Decidir el siguiente paso en tu carrera</li>
              <li>Preparar una entrevista</li>
              <li>Code review</li>
            </ul>
            <a
              data-tracking="mentoring-puntual-cta"
              title="Contactar para una hora de mentoring puntual sin compromiso"
              class="button is-medium is-primary"
              href=""
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danidelacruz/mentoring-puntual'});return false;"
              >Reserva una cita</a
            >
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-graduation-cap"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Coaching profesional</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              120€
            </h2>
            <p class="is-spaced">
              4 horas de feedback constructivo y coaching enfocado a ayudarte a
              conseguir un objetivo concreto.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Es lo que buscas si quieres:
            </p>
            <ul class="is-spaced">
              <li>Conseguir una promoción en tu empresa actual</li>
              <li>Diseñar un plan de aprendizaje a medida</li>
              <li>Ayuda en resolución de conflictos</li>
              <li>Descubrir la mejor forma de ayudar a tu equipo</li>
            </ul>
            <a
              href="#contacto"
              class="button is-medium is-primary"
              data-tracking="coaching-cta"
              title="Contactar para un coaching profesional"
              >Trabajemos juntos</a
            >
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="icon is-large has-text-info is-spaced">
              <i class="fas fa-3x fa-chalkboard-teacher"></i>
            </span>
            <h1 class="title is-size-4 is-spaced">Aprendizaje a medida</h1>
            <h2 class="title price is-size-3 has-text-primary is-spaced">
              300€
            </h2>
            <p class="is-spaced">
              12 horas de tutoría personalizada y sesiones de colaboración para
              adquirir nuevos conocimientos que impulsen tu carrera.
            </p>
            <p
              class="list-title has-text-primary has-text-weight-normal is-spaced"
            >
              Es para ti si deseas:
            </p>
            <ul class="is-spaced">
              <li>Cambiar de carrera o de especialidad</li>
              <li>Aprender una tecnología</li>
              <li>Completar tu formación universitaria o en un Bootcamp</li>
            </ul>
            <a
              href="#contacto"
              class="button is-medium is-primary"
              data-tracking="tailored-cta"
              title="Contactar para un aprendizaje a medida"
              >Sube de nivel</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="callout">
      <div class="container is-narrow">
        <h1 class="title is-spaced">¿No tienes claro qué opción escoger?</h1>
        <h2 class="subtitle is-size-5-desktop">
          Agenda una <u><strong>consultoría gratuita</strong></u> para hacerme
          preguntas, discutir detalles y decidir si soy la persona que estás
          buscando.
        </h2>
        <a title="Solicita una sesión gratuita" data-tracking="free-session-cta" class="button is-primary is-large is-medium-mobile"
          href="/contactar">
          Primera sesión gratuita
        </a>
      </div>
    </div>
  </div>
</section>
