<section id="skills" class="section has-text-centered has-background-light is-medium">
  <div class="container is-narrow">
    <div class="content">
      <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <article class="tile is-child has-background-warning section">
            <p class="title has-text-grey-dark">Mis habilidades</p>
            <p class="subtitle has-text-grey-dark">Las cosas que se me dan mejor</p>
          </article>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <nav class="panel">
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-code" aria-hidden="true"></i>
                </span>
                Front end development
                <div class="tags">
                  <span class="tag">HTML</span>
                  <span class="tag">CSS</span>
                  <span class="tag">JS</span>
                  <span class="tag">Typescript</span>
                  <span class="tag">ReactJS</span>
                </div>
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-server" aria-hidden="true"></i>
                </span>
                Back end development
                <div class="tags">
                  <span class="tag">REST</span>
                  <span class="tag">GraphQL</span>
                  <span class="tag">NodeJS</span>
                  <span class="tag">SQL</span>
                  <span class="tag">MongoDB</span>
                </div>
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-undo-alt" aria-hidden="true"></i>
                </span>
                Agile mindset
                <div class="tags">
                  <span class="tag">XP</span>
                  <span class="tag">Scrum</span>
                  <span class="tag">Kanban</span>
                  <span class="tag">Lean</span>
                </div>
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-magic" aria-hidden="true"></i>
                </span>
                Testing Automation
                <div class="tags">
                  <span class="tag">Mocha</span>
                  <span class="tag">Jest</span>
                  <span class="tag">Puppeteer</span>
                  <span class="tag">CI</span>
                  <span class="tag">CD</span>
                </div>
              </div>
              <div class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-comments" aria-hidden="true"></i>
                </span>
                Behavioural skills
                <div class="tags">
                  <span class="tag">Feedback</span>
                  <span class="tag">Emotional Intelligence</span>
                  <span class="tag">Public Speaking</span>
                  <span class="tag">Coaching</span>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
