<section id="testimonials" class="section is-medium has-text-centered has-background-white-bis">
    <div class="container is-narrow">
        <h1 class="title is-spaced">Referencias</h1>

        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/anders.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Anders Hasselstrøm</strong> <small><a title="Anders Hasselstrøm" rel="nofollow noopener" href="http://www.andershasselstrom.com/">AndersHasselstrøm.com</a></small>
                        <br>
                        When I worked in Typeform I had the pleasure of having Dani by my side as tech lead for almost 6 months. For non-technical product managers it's important to have someone by your side that can explain complex technical aspects in a human and understandable manner, which is one of the traits that makes Dani great. Dani is able to take complex concepts and transform them to tangible ideas and next actions. 
                    </p>
                </div>
        </article>


        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/miguel.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Miguel Ángel Durán</strong> <small><a title="Miguel Ángel Durán" rel="nofollow noopener" href="https://twitter.com/midudev">@midudev</a></small>
                        <br>
                        Dani cuenta con muchos años de experiencia a sus espaldas como desarrollador y se nota en cada
                        proyecto
                        que afronta.
                        Entre sus grandes virtudes se cuentan la máxima optimización de sus soluciones y un extremo
                        cuidado por
                        hacer sus proyectos mantenibles por él y todo el equipo.
                    </p>
                </div>
        </article>

        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/ruben.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Rubén Sáez</strong> <small><a title="Rubén Sáez Beltrán" rel="nofollow noopener" href="https://www.linkedin.com/in/rusabe?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BFhwRtnEPR1%2BXmxNLI6V0SA%3D%3D">@rusabe</a></small>
                        <br>
                        Dani es un gran profesional, tiene una gran experiencia en el desarrollo de software y una
                        capacidad
                        innata para aprender nuevas tecnologías y/o metodologías poniéndolas en práctica con resultados
                        excelentes.
                    </p>
                </div>
        </article>
</section>