<section id="testimonials" class="section is-medium has-text-centered has-background-light">
    <div class="container is-narrow">
        <h1 class="title is-spaced">Referencias</h1>
        <h2 class="subtitle is-spaced">Lo que dicen de mí algunos de los profesionales con los que he tenido el
            privilegio de trabajar</h2>
        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/david.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>David García</strong> <small><a title="David García" rel="nofollow noopener"
                                href="https://twitter.com/d4vecarter">@d4vecarter</a></small>
                        <br>
                        Cuando empecé a trabajar en Adevinta, mi perfil estaba más orientado a la maquetación de
                        interficies y a modificar el DOM con jQuery. En dos años trabajando juntos Dani supo
                        transmitirme los fundamentos del desarrollo de software, técnicas y patrones de diseño avanzados
                        que
                        hoy son imprescindibles en mi trabajo actual.
                    </p>
                </div>
        </article>


        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/miguel.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Miguel Ángel Durán</strong> <small><a title="Miguel Ángel Durán" rel="nofollow noopener"
                                href="https://midu.dev/">@midudev</a></small>
                        <br>
                        Dani cuenta con muchos años de experiencia a sus espaldas como desarrollador y se nota en cada
                        proyecto
                        que afronta.
                        Entre sus grandes virtudes se cuentan la máxima optimización de sus soluciones y un extremo
                        cuidado por
                        hacer sus proyectos mantenibles por él y todo el equipo.
                    </p>
                </div>
        </article>

        <article class="media box">
            <figure class="media-left">
                <p class="image is-96x96">
                    <img src="/images/ruben.jfif">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Rubén Sáez</strong> <small><a title="Rubén Sáez Beltrán" rel="nofollow noopener"
                                href="https://www.linkedin.com/in/rusabe">@rusabe</a></small>
                        <br>
                        Dani es un gran profesional, tiene una gran experiencia en el desarrollo de software y una
                        capacidad
                        innata para aprender nuevas tecnologías y/o metodologías poniéndolas en práctica con resultados
                        excelentes.
                    </p>
                </div>
        </article>
</section>